name: Deploy to EC2

# on의 이벤트가 발생하면 jobs 실행
# 진짜로 배포할 코드를 push하는 branch 이름으로 변경

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      # Github 레포지토리를 체크아웃한다.
      - name: checkout
        uses: actions/checkout@master

      # Action Secret에 설정한 ENV_VARS 값을 .env 파일로 만듦
      - name: create env file
        run: |
          touch .env
          echo "${{ secrets.ENV_VARS }}" >> .env

      - name: create remote directory
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.HOST}}
          username: ubuntu
          key: ${{ secrets.KEY }}
          script: mkdir -p /home/ubuntu/srv/ubuntu

      # SSH 키를 통해 소스 코드를 EC2 인스턴스(서버)로 복사
      - name: copy source via ssh key
        uses: burnett01/rsync-deployments@4.1
        with:
          switches: -avsr --delete
          remote_path: /home/ubuntu/srv/ubuntu
          remote_host: ${{ secrets.HOST }}
          remote_user: ubuntu
          remote_key: ${{ secrets.KEY }}

      # 서버에 접속한 뒤 deploy.sh(배포 스크립트)를 실행
      - name: executing remote ssh key commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          timeout: 30m
          command_timeout: 20m
          script: bash -lc 'chmod +x /home/ubuntu/srv/ubuntu/configs/scripts/deploy.sh && /home/ubuntu/srv/ubuntu/configs/scripts/deploy.sh'
